<nav>
  <div class="nav-wrapper  blue-grey darken-2">
    <a routerLink="/" class="brand-logo"><img src="https://cdn2.iconfinder.com/data/icons/seo-flat-6/128/38_Target_Audience-64.png"></a>
    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="!logged" routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li *ngIf="!logged" routerLinkActive="active"><a routerLink="/register">Register</a></li>
      <div *ngIf="logged">
      <li routerLinkActive="active"><a routerLink="/view">View</a></li>
      <li routerLinkActive="active"><a routerLink="/search">Search</a></li>
      <li routerLinkActive="active"><a routerLink="/profile/{{ userId }}">My Profile</a></li>
      <li><a (click)="logOut()">Logout</a></li>
      </div>
    </ul>
  </div>
</nav>
